page,
.page
	height: 100%
	background-color: #f5f5f5
div,
span
	font-family: PingFang-SC-Medium, Microsoft YaHei
	font-weight: 500
::-webkit-scrollbar  
{  
    width: 0;  
    height: 0; 
    color: transparent;  
} 

.clearfix::before, .clearfix::after {display:table; content:""; clear:both;}
.rel {position: relative}
.bkc-white {background-color: #ffffff}
.flex-1 {flex: 1}